body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f8efef;
}

#container{
    height: 10vh;
    width : auto ;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;

}

#startTimer{
    background: rgb(1, 192, 1) ;
    border: none;
    color: #fff !important;
    font-size: 18px!important;
    padding: 5px  40px!important;
    border-radius: 100px;
    cursor: pointer;
    height: 5vh;
}

#startTimer:hover{
    background:#079309;
}

#para{
    display: flex;
    justify-content: space-between;
    float: left;
}

#heading{
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(37, 36, 36);
    color: white;
    height: 3vh;
    width: 10vw;
    margin: auto;
    padding: 5px  40px!important;
    border-radius: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.timer {
    font-size: 24px;
}

.timer-ended {
    color: red;
}

.time-left {
    font-size: 18px;
    margin-right: 10px;
}

.timer-controls {
    display: flex;
    justify-content: center;
}

.control-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.stop-button {
    background-color: red;
    color: white;
}

.stop-button:hover {
    background-color: rgb(205, 1, 1);
}

.delete-button {
    background-color: red;
    color: white;
}

.delete-button:hover {
    background-color: rgb(205, 1, 1);
}

#heading {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    margin: auto;
}